In [236]:
import pandas as pd
import numpy as np

In [237]:
df=pd.read_csv('machine failure.csv')

In [238]:
df.head()

,UDI,faktor,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,M14860,M,298.1,308.6,1551.0,42.8,0.0,0.0,0.0,0.0,0.0,0.0,0
1,2,L47181,L,298.2,308.7,NaN,46.3,3.0,0.0,0.0,0.0,0.0,0.0,0
2,3,L47182,L,0.1,0.5,1498.0,49.4,5.0,0.0,0.0,0.0,0.0,0.0,0
3,4,L47183,L,0.2,0.6,1433.0,39.5,7.0,0.0,0.0,0.0,0.0,0.0,0
4,5,L47184,L,298.2,308.7,NaN,40.0,9.0,0.0,0.0,0.0,0.0,0.0,0

In [239]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10008 entries, 0 to 10007
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   UDI                      10008 non-null  int64
 1   faktor                   10007 non-null  object
 2   Type                     10007 non-null  object
 3   Air temperature [K]      10008 non-null  float64
 4   Process temperature [K]  10008 non-null  float64
 5   Rotational speed [rpm]   10001 non-null  float64
 6   Torque [Nm]              10008 non-null  float64
 7   Tool wear [min]          10007 non-null  float64
 8   Machine failure          10006 non-null  float64
 9   TWF                      10006 non-null  float64
 10  HDF                      10006 non-null  float64
 11  PWF                      10007 non-null  float64
 12  OSF                      10007 non-null  float64
 13  RNF                      10008 non-null  int64
dtypes: float64(10), int64(2), object(2)
memory usage: 1.1+ MB

### Normalisasi dan standarisasi Pada Data Set

In [240]:
df.columns = [col.strip() for col in df.columns]

In [241]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10008 entries, 0 to 10007
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   UDI                      10008 non-null  int64
 1   faktor                   10007 non-null  object
 2   Type                     10007 non-null  object
 3   Air temperature [K]      10008 non-null  float64
 4   Process temperature [K]  10008 non-null  float64
 5   Rotational speed [rpm]   10001 non-null  float64
 6   Torque [Nm]              10008 non-null  float64
 7   Tool wear [min]          10007 non-null  float64
 8   Machine failure          10006 non-null  float64
 9   TWF                      10006 non-null  float64
 10  HDF                      10006 non-null  float64
 11  PWF                      10007 non-null  float64
 12  OSF                      10007 non-null  float64
 13  RNF                      10008 non-null  int64
dtypes: float64(10), int64(2), object(2)
memory usage: 1.1+ MB

In [242]:
df.isna().sum()

UDI                        0
faktor                     1
Type                       1
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     7
Torque [Nm]                0
Tool wear [min]            1
Machine failure            2
TWF                        2
HDF                        2
PWF                        1
OSF                        1
RNF                        0
dtype: int64

In [243]:
df.isna().sum()

UDI                        0
faktor                     1
Type                       1
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     7
Torque [Nm]                0
Tool wear [min]            1
Machine failure            2
TWF                        2
HDF                        2
PWF                        1
OSF                        1
RNF                        0
dtype: int64

### membuat duplicated

In [244]:
df.duplicated().sum()

8

### Data Cleaning

In [245]:
from sklearn.impute import SimpleImputer

In [246]:
imputer = SimpleImputer(strategy='mean')

In [247]:
df["TWF"] = imputer.fit_transform(df[["TWF"]])

In [248]:
df.isna().sum()

UDI                        0
faktor                     1
Type                       1
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     7
Torque [Nm]                0
Tool wear [min]            1
Machine failure            2
TWF                        0
HDF                        2
PWF                        1
OSF                        1
RNF                        0
dtype: int64

In [249]:
from sklearn.impute import SimpleImputer

In [250]:
imputer = SimpleImputer(strategy='median')

In [251]:
df["HDF"] = imputer.fit_transform(df[["HDF"]])

In [252]:
df.isna().sum()

UDI                        0
faktor                     1
Type                       1
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     7
Torque [Nm]                0
Tool wear [min]            1
Machine failure            2
TWF                        0
HDF                        0
PWF                        1
OSF                        1
RNF                        0
dtype: int64

### menghapus data duplicated dengan data cleaning

In [253]:
df.drop_duplicates(inplace=True)

In [254]:
df.duplicated().sum()

0

### merubah tipe data dengan menganti dataset yang ada

In [255]:
df.isna().sum()

UDI                        0
faktor                     1
Type                       1
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     7
Torque [Nm]                0
Tool wear [min]            1
Machine failure            2
TWF                        0
HDF                        0
PWF                        1
OSF                        1
RNF                        0
dtype: int64

### One Hot Encoding

In [256]:
from sklearn.preprocessing import OneHotEncoder

In [257]:
onehot = OneHotEncoder(sparse_output=False)

In [258]:
statusEnc = onehot.fit_transform(df[["Type"]])
statusEnc = pd.DataFrame(statusEnc)

df["tipe"] = statusEnc[0] # membuat kolom baru
df["tipe"] = statusEnc[1] # membuat kolom baru

In [259]:
df.head()

,UDI,faktor,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF,tipe
0,1,M14860,M,298.1,308.6,1551.0,42.8,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
1,2,L47181,L,298.2,308.7,NaN,46.3,3.0,0.0,0.0,0.0,0.0,0.0,0,1.0
2,3,L47182,L,0.1,0.5,1498.0,49.4,5.0,0.0,0.0,0.0,0.0,0.0,0,1.0
3,4,L47183,L,0.2,0.6,1433.0,39.5,7.0,0.0,0.0,0.0,0.0,0.0,0,1.0
4,5,L47184,L,298.2,308.7,NaN,40.0,9.0,0.0,0.0,0.0,0.0,0.0,0,1.0